html {
    height: 100%;
}

body {
	background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    color: #111111;
    font-family: "Lato";
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #111111;
    color: #edcd1d;
    min-width: 260px;
}

.btn-black {
    background: #111111;
    color: #edcd1d;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 2px solid black;
}

.product-details-container, .basket-details-container {
    border: 2px solid #111111 !important;
    background: #fff !important;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
}

#id_password, #id_login {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    outline: none;
    background: #edcd1d;
    color: #111;
    border: 1px solid #111 !important;
    transition: all .5s;
    margin-bottom: 5px;
    width: 70%;
    margin: auto;
}

.basket-details-container {
    margin-bottom: 20px;
}

.saleline {
    border-top: 1px solid #111111 !important;
    border-bottom: 1px solid #111111 !important;
}

.col .mb-4 {
    text-align: center;
}

.card, .pdp-img {
    border: 2px solid #111111 !important;
}

.h-100 a img {
    border-bottom: 2px solid #111111 !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #edcd1d;
    color: #111111;
}

.text-yellow {
    color: #edcd1d !important;
}

.text-black {
    color: #111111 !important;
}

.border-black {
    border: 1px solid #111111 !important;
}

.bg-black {
    background: #111111 !important;
}

.dropdown-item, .dropdown-menu {
    background: #edcd1d;
    color: #111111;
}

.dropdown-menu {
    border: 1px solid #111111 !important;
}

.product-name-big {
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #edcd1d;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

  .mobile-header-btn, #mobile-fit-freak-nav {
    visibility: hidden;
    display: none;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .header-container {
        padding-top: 164px;
    }

    .mobile-header-btn , #mobile-fit-freak-nav {
        visibility: hidden;
        display: none;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (min-width: 900px) {
    .fit_freak_input {
        width: 45% !important;
    }
}

@media (max-width: 575px) {
    .basket-details-container {
        border: 2px solid #111111 !important;
        background: #fff !important;
        padding: 5px;
        padding-left: 10px;
        margin-top: 20px;
        margin: 20px;
    }
}

@media (max-width: 412px) {
    .navbar ul list-inline-item {
        width: 45px;
        height: auto;
    }

    .header-container {
        padding-top: 145px;
    }
}


@media (max-width: 500px) {
    .col .my-1 {
        font-size: 85%;
    }
}