html {
    height: 100%;
}

body {
	background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    color: #111111;
    font-family: "Lato";
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #111111;
    color: #edcd1d;
    min-width: 260px;
}

.btn-black, .btn-outline-black, form[method="POST"][action="/accounts/password/reset/key/c-set-password/"] input {
    background: #111111 !important;
    color: #edcd1d !important;
    margin-bottom: 5px !important;
}

.product-details-container, .basket-details-container, form[method="POST"][action="/accounts/password/reset/key/c-set-password/"] {
    border: 2px solid #111111 !important;
    background: #fff !important;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
}

.nav-bar-background {
    background: #edcd1d !important;
}

#id_password, #id_login, #id_email, #id_email2, #id_username, 
#id_password1, #id_password2, #id_default_country, #id_default_phone_number, 
#id_default_postcode, #id_default_town_or_city, #id_default_street_address1, 
#id_default_street_address2, #id_default_county, #id_category, #id_sku, #id_name, 
#id_description, #id_has_sizes, #id_price, #id_rating, #id_image_url, #id_image {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    outline: none;
    background: #edcd1d;
    color: #111;
    border: 1px solid #111 !important;
    transition: all .5s;
    margin-bottom: 5px;
    width: 90%;
    margin: auto;
}

ul {
    list-style-type: none;
}

#id_password:focus, #id_login:focus, #id_email:focus, #id_email2:focus, #id_username:focus, #id_password1:focus, 
#id_password2:focus, #id_default_country:focus, #id_default_phone_number:focus, 
#id_default_postcode:focus, #id_default_town_or_city:focus, #id_default_street_address1:focus, 
#id_default_street_address2:focus, #id_default_county:focus, #id_catergory:focus, #id_sku:focus,
#id_name:focus, #id_description:focus, #id_has_sizes:focus, #id_price:focus, #id_rating:focus, 
#id_image_url:focus, #id_image:focus {
    color: #edcd1d !important;
    background: #111;
}

#id_description {
    height: 110px !important;
    overflow-y: auto;
}

#id_image {
    height: 50px !important;
}

.fas:before {
    color: #edcd1d;
}

.basket-details-container {
    margin-bottom: 20px;
}

.saleline {
    border-top: 1px solid #111111 !important;
    border-bottom: 1px solid #111111 !important;
}

.col .mb-4 {
    text-align: center;
}

.card, .pdp-img {
    border: 2px solid #111111 !important;
}

.h-100 a img {
    border-bottom: 2px solid #111111 !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus, .btn-outline-black:focus {
    background: #edcd1d !important;
    color: #111111 !important;
}


.text-yellow {
    color: #edcd1d !important;
}

.text-black {
    color: #111111 !important;
}

.border-black {
    border: 1px solid #111111 !important;
}

.bg-black {
    background: #111111 !important;
}

.dropdown-item, .dropdown-menu {
    background: #edcd1d;
    color: #111111;
}

.dropdown-menu {
    border: 1px solid #111111 !important;
}

.product-name-big {
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #edcd1d;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.display-4 {
    font-size: 3rem !important;
    color: #111 !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

  .mobile-header-btn, #mobile-fit-freak-nav {
    visibility: hidden;
    display: none;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .dropdown-padding .text-black, .ff-form-padding label {
        padding-left: 50px;
    }

    .mobile-header-btn , #mobile-fit-freak-nav {
        visibility: hidden;
        display: none;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 134px;
    }

    .dropdown-padding .text-black, .ff-form-padding label {
        padding-left: 30px;
    }
    
    #delivery-banner .bg-black, #delivery-banner .text-white {
        color: #111 !important;
        background: #fff !important;
    }

    .qty_input {
        margin-bottom: 5px !important;
    }

    .dropdown {
        background-color: #fff !important;
        border-radius: 5px;
        margin-top: 2px;
    }

    #mobile-fit-freak-nav, .background-ff-yellow {
        background: #111 !important;
        color: #fff !important;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (min-width: 900px) {
    .fit_freak_input {
        width: 45% !important;
    }
}

@media (max-width: 575px) {
    .basket-details-container {
        border: 2px solid #111111 !important;
        background: #fff !important;
        padding: 5px;
        padding-left: 10px;
        margin-top: 20px;
        margin: 20px;
    }
}

@media (max-width: 412px) {
    .navbar ul list-inline-item {
        width: 45px;
        height: auto;
    }

    .header-container {
        padding-top: 162px;
    }
}


@media (max-width: 500px) {
    .col .my-1 {
        font-size: 85%;
    }
    
    .quantity-width {
        max-width: 28px !important;
        text-align: center !important;
    }
    .quantity-update-width {
        max-width: fit-content;
    }
}