.checkout-summary-ocontainer {
    border: 2px solid #111111 !important;
    background: #fff !important;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
}

.checkout-summary-ocontainer img {
    border: 1px solid #111 !important;
}

.checkout-details-ocontainer {
    border: 2px solid #111111 !important;
    background: #fff !important;
    color: #111 !important;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.fieldset-label {
    position: relative;
    left: .5rem;
}

.stripe-style-input, .StripeElement {
    /* max-width: 200px;
    min-height: 40px;
    padding: 5px; */
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    outline: none;
    background: #edcd1d;
    color: #111;
    border: 1px solid #111 !important;
    transition: all .5s;
    margin-bottom: 5px;
}

.stripe-style-input:focus {
    color: #edcd1d !important;
    background: #111;

}

.btn-black-checkout {
    background: #111;
    color: #edcd1d;
}

.btn-black-checkout:hover {
    background: #edcd1d;
    color: #111;
}

