.checkout-summary-container {
    border: 2px solid #111111 !important;
    background: #fff !important;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin: 20px;
}

.checkout-summary-container img {
    border: 1px solid #111 !important;
}

select, select option {
    color: #111;
}

select:invalid, select option[value=""] {
    color: #777774;
}


.checkout-details-container {
    border: 2px solid #111111 !important;
    background: #fff !important;
    color: #111 !important;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin: 20px;
}

.fieldset-label {
    position: relative;
    left: .5rem;
}

.stripe-style-input, .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    outline: none;
    background: #edcd1d;
    color: #111;
    border: 1px solid #111 !important;
    transition: all .5s;
    margin-bottom: 5px;
    width: 90%;
}

.stripe-style-input:focus {
    color: #edcd1d !important;
    background: #111;

}

.btn-black-checkout {
    background: #111;
    color: #edcd1d;
}

.btn-black-checkout:hover {
    background: #edcd1d;
    color: #111;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

@media (min-width: 900px) {
    .stripe-style-input, .StripeElement {
        width: 45% !important;
    }
}